body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 25px;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 30px;
}
.first-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-left: 2%;
  margin: 0 auto;
}
.first-section img {
  width: 600px;
}
.colored-heading {
  color: #0cbc29;
}
.bordered-heading {
  border-left: 5px solid #0cbc29;
  border-radius: 5px;
  padding-left: 10px;
}
.left-side-first {
  margin-top: 80px;
  width: 60%;
}
.text-para {
  width: 90%;
}
.mission-btn {
  color: white;
  font-weight: 400;
  font-size: 25px;
  background-color: #0cbc29;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
}
.centered-heading {
  text-align: center;
}
.section-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 100px;
}
.section-box img {
  margin-top: 20px;
  width: 180px;
}
.mission {
  width: 25%;
  padding: 0px 10px 10px 20px;
  background-color: gainsboro;
  border-radius: 20px;
}
.vision {
  width: 25%;
  padding: 0px 10px 10px 20px;
  background-color: pink;
  border-radius: 20px;
}
.goal {
  width: 25%;
  background-color: powderblue;
  border-radius: 20px;
  padding: 0px 10px 10px 20px;
}
.third-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 100px;
}
.third-section img {
  padding-left: 2%;
  width: 500px;
}
.right-side-third {
  padding-left: 8%;
}
.fourth-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 100px;
}
.fourth-section img {
  padding-left: 2%;
  width: 500px;
}
